nav{
	background-color: rgb(0,0,0);
	display: block;
	font-size: 1.3em;
	overflow: hidden;
	text-align: center;
	margin: auto;
	float: right;
}
nav a{
	display: block;
	text-decoration: none;
	color: white;
	float: right;
	padding: 20px;
	vertical-align: middle;
}
h1{
	color: white;
	display: inline-block;
}
a:hover{
	background-color: white;
	color: black;
}
a.blocklink:hover{
	color: black;
}
a{
	text-decoration: none;
}
body{
	background-color: black;
	vertical-align: middle;
}
footer{
	background-color: rgb(0,0,0);
	width: 100%;
	color: white;
	overflow: hidden;
}

#logo{
	float: left;
	vertical-align: center;
	display: block;
	text-align: center;
	height: 40px;
}
#articles{
	width: 100%;
	height: auto;
	background-color: black;
	margin: auto;
	clear: both;
	overflow: hidden;
}

.column1{
	display: block;
	float: left;
	margin: 1% 0 1% 1%;
	clear: all;
}
.imgs{
	width: 100%;
	vertical-align: center;
}
.blocklink{
	display: table-cell;
	vertical-align: middle;
	width: 140px;
	height: 140px;
	font-size: 1.4em;
	text-decoration: none;
	background-color: rgb(0,0,0);
	font-color: white;
	outline-style: solid;
	outline-color: white;
	text-align: center;
}
a.blocklink{
	text-align: center;
	vertical-align: middle;
	font-size: 1.4em;
	color: white;
	text-align: center;
}
.title{
	position: absolute;
	background-color: white;
	color: black;
	padding: 1em;
	top: 20%;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
	}

@media only screen and (max-width: 400px){
nav, nav a{
	font-size: 1.2em;
	float: none;
	width: auto;
}
#logo{
	float: none;
	height: 30px;
	vertical-align: center;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	margin: auto;
}
.column1{
	float: none;
	width: 50%;
	vertical-align: center;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	margin: auto;
}
}


